*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    background-color: rgb(10, 8, 8);
    padding: 2rem 4rem;
    
}

.nav-links{
    display: flex;
    gap: 6rem;
}

.nav-links a{
    color: white;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
}

.nav-links a:hover{
    color: blue;
    font-weight: bold; 
}

.home{
    background-color: dimgray;
    min-height: 70vh;

}

.home-1{
display: flex;
justify-content: space-between;
width: 80%;
margin: auto;
padding-top:12rem;
color: aliceblue;
}
.home-1 > img{
    width: 400px;
    height: 500px;
}

.home-content{
    width: 55%;

}
.home-content > h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}
.name-style{
    color: yellow;
}
.home-content > p{
    width: 80%;
    margin-bottom: 3rem;
    line-height: 30px;
}
.home-content a button{
background-color: transparent;
color: aliceblue;
border-radius: 999px;
border: 2px solid wheat;
cursor: pointer;
padding: 2rem 4rem;
width: 40%;
}
.home-content a button:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

.resume{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding:2rem 4rem;
    background-color: antiquewhite;
    float: right;
 

}
.resume-header h1{
    text-align: center;
    color: rgb(24, 67, 32);
    font-size: 2.5rem;
}
.education-desc h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 4rem;
    text-align: left;   
    padding: 1rem 4rem;
}
.education-desc h2{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 4rem;
    text-align: right;
}

.education-desc p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 4rem;
    text-align: right;
    line-height: 30px;
    justify-content: space-between;
}

/*contact styles*/
.contact{

   display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding:1rem 4rem;
    background-color: lightyellow;
    float: right;

}

.contact-header{
     text-align: center;
    color: darkred;
    font-size: 2.5rem;
}
.contact-form{
    width: 80%;
    height: 20%;
}
.contact-form > form > textarea{
    width: 400px;
    height: 150px;
    border-radius: 4px 4px;
    float: right;
}
.contact-form > form > input{
    width: 400px;
    height: 30px;
    border-radius: 4px 4px;
    font-size: 1rem;
    float: right;
}